{
  "presets": ["react", "env", "stage-2", "airbnb"],
  "env": {
    "production": {
      "plugins": ["add-module-exports"]
    },
    "development": {
      "plugins": [
        "add-module-exports",
        [
          "emotion",
          {
            "sourceMap": true,
            "autoLabel": true,
            "labelFormat": "[filename]--[local]"
          }
        ]
      ]
    }
  }
}
