.bio {
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__excerpt {
    position: relative;
    z-index: 10;
    align-self: center;
    width: 240px;
  }

  &__img {
    &--background {
      position: relative;
      background: transparentize($lightBlue, 0.5);
      padding: 20px;
      left: -45px;

      @include device-sm {
        left: 0;
        height: 50%;
      }

      img {
        margin: 0;
        position: relative;
        right: -30px;
        top: -5px;
      }
    }
  }

  &__quote {
    position: absolute;
    bottom: -55px;
    z-index: 10;
  }
}
