.Blog {
  margin-bottom: 230px;
}

.Blog__Blurb {
  position: absolute;
  left: 300px;
  bottom: -220px;

  @include device-size($width: 720) {
    left: 0;
    position: relative;
    bottom: 0;
  }
}

.Blog__Underline {
  width: 72px;

  @include device-md {
    width: 62px;
  }
  @include device-sm {
    width: 58px;
  }
}
