.Contact {
  &__form {
    &__label {
      display: flex;
      flex-direction: column;
      font-weight: bold;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      > input,
      > textarea {
        border: 1px solid #111;
        border-radius: 5px;
        padding: 5px 10px;
        box-shadow: 0 0 3px 3px map-get($colors, beigeShadow) inset;

        &.Contact--invalid__input,
        &:invalid {
          box-shadow: 0 0 3px 3px map-get($colors, redShadow) inset;
        }
      }

      > textarea {
        resize: none;
      }
    }
  }
}
