.contact {
  // .content {
  //   display: flex;
  // }

  .form {
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
    margin: 0;

    &__group {
      display: flex;
      align-items: baseline;

      label {
        flex: 1 0 30%;
        font-size: 1.5em;
      }

      input,
      textarea {
        flex: 1 1 100%;
        border: 1px solid $black;
        padding: 0 10px;

        &.invalid {
          box-shadow: 0 0 5px 1px red;
        }
        &.invalid:focus {
          outline: none;
        }
      }

      .input-quote {
        font-size: 1.5em;
        padding: 0 5px;
      }
    }
  }
}
