.Image {
  background-color: map-get($colors, pink);
  display: inline-grid;
  padding: 15px;
  border-radius: 10px;

  &[data-rotate='25deg'] {
    transform: rotate(25deg);
  }

  @include device-sm {
    max-width: 250px;
    align-self: flex-end;
  }

  & img {
    margin: 0;
    box-shadow: 2px 2px 5px 0 ligthen(map-get($colors, black), 10%);
    border-radius: inherit;
  }
}
