.nav {
  &,
  .nav-menu {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .nav-menu {
    margin-left: 10px;
  }

  .nav-menu__item {
    list-style: none;
    margin: 0 10px;
    cursor: pointer;

    &:after {
      content: ',';
    }

    :hover {
      font-weight: normal;
    }
  }
}
