.Note {
  padding: 20px;
  border: 1px dashed;
  margin-bottom: 20px;
  box-shadow: 0 0 3px 3px map-get($colors, beigeShadow) inset;
  border: 1px dashed;
  border-radius: 10px;
  background-color: #fff;
  text-decoration: none;
  display: block;
  transition: transform 150ms map-get($bezier, jiggle);
  width: 100%;

  &:hover {
    box-shadow: 0 0 5px 5px map-get($colors, beigeShadow);
    transform: scale(1.05);
  }

  h4 {
    margin: 0;
  }

  i {
    display: block;
  }

  &__card {
    width: 100%;
  }

  &__text {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}
