.notes {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .note {
    position: relative;
    min-width: 250px;

    &__card {
      width: 100%;
    }

    &__text {
      position: absolute;
      top: 15px;
      left: 15px;
    }

    &__link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      i {
        font-size: 0.67em;
        display: block;
      }
    }
  }
}
