.section {
  position: relative;
  min-height: 200px;
  background-color: $beige;
  margin: 50px 70px;
  min-width: 500px;
  position: relative;
  min-height: 200px;

  &__closing,
  &__button {
    font-size: 1.7em;
  }

  &__closing {
    color: $grey;
  }

  &__button {
    border: transparent;
    background-color: transparent;
    letter-spacing: 1.5px;
    padding: 0;
    color: $blue;

    &:before {
      content: '.';
      color: $grey;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  // .section--bg {
  //   background-color: $beige;
  //   margin: $section-bg-margin;
  //   min-height: inherit;
  // }

  &__content {
    padding: 20px 20px 20px 50px;
    min-height: inherit;
  }

  .data {
    left: -55px;
    position: relative;

    &__key {
      color: $grey;
      letter-spacing: 1.5px;

      // &:before {
      //   content: '.';
      // }

      &:after {
        content: ' = ';
      }

      &[data-opening='[']:after {
        content: ' = [';
      }

      &[data-opening='{']:after {
        content: ' = {';
      }
    }
  }

  .coming-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $grey;
    font-size: 2.5em;
    height: 350px;
  }
}
