.section {
  $section-bg-margin: 40px;

  position: relative;
  min-height: 200px;

  &__closing,
  &__button {
    font-size: 1.7em;
  }

  &__closing {
    color: $grey;
  }

  &__button {
    border: transparent;
    background-color: transparent;
    letter-spacing: 1.5px;
    padding: 0;
    color: $blue;

    &:before {
      content: '.';
      color: $grey;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .section--bg {
    background-color: $beige;
    margin: $section-bg-margin;
    min-height: inherit;
  }

  &__content {
    padding: 50px 25px 0px 25px;
    min-height: inherit;
  }

  .data {
    position: absolute;

    &__key {
      color: $grey;
      letter-spacing: 1.5px;

      &:before {
        content: '.';
      }

      &:after {
        content: ' = ';
      }

      &[data-opening='[']:after {
        content: ' = [';
      }

      &[data-assignment='{']:after {
        content: ' = {';
      }
    }
  }

  .coming-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $grey;
    font-size: 2.5em;
    height: 350px;
  }
}
