.variable {
  font-weight: bold;
  font-size: 1.7em;
  &__declare {
    color: map-get($colors, purple);
  }

  &__name {
    text-transform: uppercase;
    color: map-get($colors, blue);

    &[data-semi='true'] {
      &:after {
        content: ' ;';
        color: map-get($colors, black);
      }
    }
  }
}
