[role='application'] {
  > header.header {
    max-width: 1000px;
    margin: 25px auto;
  }

  main {
    max-width: 837px;
    margin: 0 auto;
    padding-top: 50px;

    &.blog-post {
      max-width: 720px;

      @include device-size(720) {
        padding: 0 20px;
      }
    }
  }
}
