html,
body {
  color: map-get($colors, black);
}

*,
*:after,
*:before {
  box-sizing: border-box;
  color: inherit;

  @media (prefers-reduced-motion: reduce) {
    animation: none !important;
    transition: none !important;
  }
}

input,
select,
textarea,
button {
  font-family: inherit;
}
