.home {
  &:last-child {
    margin-bottom: 50px;
  }

  .section__wrapper {
    position: relative;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;

    @include device-sm {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .bio__quote,
  .skills__quote,
  .notes__quote {
    position: relative;
    bottom: 30px;

    @include device-size(850px) {
      bottom: initial;
      top: 30px;
    }
  }

  .bio__quote {
    left: 60%;
  }

  .skills__quote {
    left: 40%;
  }

  .notes__quote {
    left: 30%;
  }

  @include device-size(850px) {
    .bio__quote {
      left: 20%;
    }
    .skills__quote,
    .notes__quote {
      left: 0;
    }
  }
}
