.note-page {
  .section__header {
    span {
      color: #111;
      box-shadow: 0 -17px 0 0px inset #beffbe;
    }
  }
  .note {
    background-color: $beige;
    margin: 20px 0;
    padding: 20px;
    transition: all 250ms ease-in;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 7px 0 #c5c5c5;
    }
  }
}
