$small-width: 500px;
$large-width: 1000px;

@mixin device-sm {
  @media (max-width: #{$small-width - 1px}) {
    @content;
  }
}
@mixin device-md {
  @media (min-width: #{$small-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin device-lg {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin device-size($width) {
  @media (max-width: #{$width - 1px}) {
    @content;
  }
}

@mixin link($color) {
  @if $color {
    box-shadow: 0 -2px 0 0 transparentize($color, 0.5) inset;
    transition: all 150ms ease-in;

    &.active,
    &:active,
    &:focus,
    &:hover {
      box-shadow: 0 -13px 0 0 transparentize($color, 0.9) inset;
    }
  }
}

@mixin box-shadow-colors {
  @each $color, $value in $colors {
    &.box-shadow-#{$color} {
      @include link($value);
    }
  }
}
