$beige: #fcfbfb;
$blue: #2d9cdb;
$lightBlue: #56ccf2;
$black: #434343;
$grey: #e5e5e5;
$white: #fff;
$purple: #bb6bd9;

/************************************\
  other colors
\************************************/
$bendyworks: #b7a629;
$twitter: #1da1f2;
