/************************************\
 array of colors
\************************************/

// use map-get($colors, key) to get access to colors
// this will create box-shadow colors based on the names listed in colors
// e.g. box-shadow-beige, box-shadow-blue, box-shadow-lightblue, etc.

$colors: (
  beige: #fcfbfb,
  blue: #2d9cdb,
  lightBlue: #56ccf2,
  black: #434343,
  grey: #afafaf,
  white: #fff,
  purple: #bb6bd9,
  bendyworks: #b7a629,
  twitter: #1da1f2,
  faithLeads: rgb(50, 240, 149),
  pink: #ffdceb,
  red: red,
);

$bezier: (
  jiggle: cubic-bezier(0.53, 1.51, 0.69, 1.15),
);
