.blog-post {
  &__header {
    margin-bottom: 30px;

    &__h1 {
      margin: 0;
    }

    &__date {
      color: map-get($colors, grey);
    }

    &__image {
      margin-top: 20px;

      img {
        margin: 0;
      }
    }

    &__image-credit {
      text-align: center;

      > p a {
        text-align: center;
        color: map-get($colors, blue);
        @include link(map-get($colors, blue));
      }
    }

    &__desc {
      font-style: italic;
    }
  }
}
